<% provide(:title, "Job") %>


     <div id="w-columnbox-aabp" data-type="columnbox" class="n-widget w-columnbox">

              <div class="w-col" style="width:100%;">
              <div id="new-posts" data-type="area" class="p-155234 n-widget w-area">
                <div id="w-titlebox-aach" data-type="titlebox" class="n-widget w-titlebox t-titlebox-a04 t-titlebox-a04-ff9900">
                  <div id="w-titlebox-aach-title" class="w-titlebox-title t-titlebox-a04-title t-titlebox-a04-ff9900-title">
                    <i class="middle"></i>
                    <h2><i></i>News</h2>
                  </div>
                  <div id="w-area-aaci" data-type="area" class="p-155234 n-widget w-area w-titlebox-content t-titlebox-a04-content t-titlebox-a04-ff9900-content">
                    <div id="w-lister-aacj" data-type="lister" class="n-widget w-lister t-lister-05">

                <h1>Recent News</h1>
                <%= link_to 'New Posts', new_article_path %>

                    <% @articles.each do |article| %>

                        <%= div_for article, :class => "posts" do %>
                             <p><%= link_to article.title, display_article_path(article) %>  ---  <%= article.created_at.strftime("%b %d, %Y") %>
                             <button><%= link_to 'Edit', edit_article_path(article) %></button>
                             <button><%= link_to 'Destroy', article_path(article),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>
                             </button>
                             <p>

                        <% end %>
                    <% end %>

                    </div>
                  </div>
                </div>
              </div>
              </div>
    </div>