<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="generator" content="9466 Design Engine 2.0.3" />
    <title>Home</title>
    <%= stylesheet_link_tag "index.css" %>
   
    <!--[if IE 6]>
    <script> try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} </script>
    <![endif]-->
  </head>
  <body id="w-body-aaaa" data-type="body" class="p-155234 n-widget w-body">
    <%= render 'welcome/headers'%>
    <%= render 'welcome/slides'%>
    <%= render 'welcome/midbody'%>
    <%= render 'welcome/words'%>
    <%= render 'welcome/bottom'%>
    <!--custom footer start-->
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fce299e0fd4094e4d5efce40bab839811' type='text/javascript'%3E%3C/script%3E"));</script>
<!--custom footer end-->
  </body>
</html>
