<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="generator" content="9466 Design Engine 2.0.3" />
    <title>Home</title>
    <%= stylesheet_link_tag "index.css" %>
    <script type="text/javascript" src="assets/index.js?1432165895"></script>
    <!--[if IE 6]>
    <script> try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} </script>
    <![endif]-->
  </head>
  <body id="w-body-aaaa" data-type="body" class="p-155234 n-widget w-body">
    <div id="w-columnbox-aaab" data-type="columnbox" class="n-widget w-columnbox">
        <div class="w-col" style="width:56px;height:56px;">
        <div id="w-area-aaaac" data-type="area" class="p-155234 n-widget w-area">
             <%= image_tag "JBLogo.png" %>       
        </div>
        </div>
        <div class="w-col" style="width:270px;">
        <div id="w-area-aaac" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaad" data-type="text" class="n-widget w-text">
             JB Analytical Inc.
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaae" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaaf" data-type="text" class="n-widget w-text">
            <a href="./index.html" title="%5Bobject%20Object%5D">HOME</a>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaag" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaah" data-type="text" class="n-widget w-text">
            ABOUT US
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaai" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaaj" data-type="text" class="n-widget w-text">
            <a href="jiaoxue.html" title="%5Bobject%20Object%5D">OUR CLIENTS</a>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaak" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaal" data-type="text" class="n-widget w-text">
            JOBS
          </div>
        </div>
        </div>
        <div class="w-col" style="width:130px;">
        <div id="w-area-aaam" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaan" data-type="text" class="n-widget w-text">
            <%= link_to 'CONTACT US', controller: 'articles' %>
          </div>
        </div>
        </div>
    </div>
    <div id="w-slider-aaao" data-type="slider" class="n-widget w-slider t-slider-04">
      <div class="slidesjs">
        <div class="slidesjs-slide"><a class="thumblink">
        <%= image_tag("family.jpg", :alt=>"We are a team of experts in data manipulation, statistical analysis and modeling using SAS") %></a></div>
         <div class="slidesjs-slide"><a class="thumblink"><img src="http://cdn.business2community.com/wp-content/uploads/2013/04/ID-100789555.jpg" alt="We are looking for SAS Programmers and Data Analysts " /></a></div>
        <div class="slidesjs-slide"><a class="thumblink"><img src="http://www.transatlanticbusiness.org/wp-content/uploads/2014/05/Working-Group.jpg" alt="We have worked for banks, medical centers and government institues" /></a></div>
      </div>
    </div>
    
      <div id="w-columnbox-aaaq" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:23.775510204082%;">
          <div id="w-area-aaar" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aaas" data-type="image" class="n-widget w-image">
                    <%= image_tag "Working-Group.jpg" %>

            </div>
            <div id="w-text-aaat" data-type="text" class="n-widget w-text">
              Sustantial
            </div>
            <div id="w-area-aaau" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aaav" data-type="text" class="n-widget w-text">
                We are a team of experts in data manipulation, statistical analysis and modeling using SAS. 
              </div>
            </div>
            <div id="w-button-aaaw" data-type="button" class="n-widget w-button t-button-default t-button-default-ff9900">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aaaw-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:25.510204081632%;">
          <div id="w-area-aaax" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aaay" data-type="image" class="n-widget w-image">
                
                <%= image_tag "point.jpg" %>

            </div>
            <div id="w-text-aaaz" data-type="text" class="n-widget w-text">
              Experience
            </div>
            <div id="w-area-aaba" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabb" data-type="text" class="n-widget w-text">
                We have worked for Medical Centers, Government Institues, Pharmaceutical, Companies, Banks and Education Institutes.
              </div>
            </div>
            <div id="w-button-aabc" data-type="button" class="n-widget w-button t-button-default t-button-default-009966">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabc-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:26.170212765958%;">
          <div id="w-area-aabd" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aabe" data-type="image" class="n-widget w-image">
                    <%=image_tag("http://www.sscoach.org/uploadfile/2009_9/%E6%9C%8D%E5%8A%A1%E5%9B%A2%E9%98%9F(2).jpg")%>
            </div>
            <div id="w-text-aabf" data-type="text" class="n-widget w-text">
              Young
            </div>
            <div id="w-area-aabg" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabh" data-type="text" class="n-widget w-text">
                We are young
              </div>
            </div >
            <div id="w-button-aabi" data-type="button" class="n-widget w-button t-button-default t-button-default-0066cc">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabi-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <divclass="w-col" style="width:24.544072948328%;">
          <div id="w-area-aabj" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aabk" data-type="image" class="n-widget w-image">
<%=image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSrVGSNmNzjypIWZjd2H9Z5j8AbGqAJ3VlDtbwSlys39yahOvE9w")%>

            </div>
            <div id="w-text-aabl" data-type="text" class="n-widget w-text">
              Energetic
            </div>
            <div id="w-area-aabm" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabn" data-type="text" class="n-widget w-text">
                We are energetic
              </div>
            </div>
            <div id="w-button-aabo" data-type="button" class="n-widget w-button t-button-default t-button-default-ff6600">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabo-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
                      </a>
            </div>
          </div>
          </div>
      </div>
      <div id="w-columnbox-aabp" data-type="columnbox" class="n-widget w-columnbox">

          <div class="w-col" style="width:25.408163265306%;">
          <div id="w-area-aacg" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-titlebox-aach" data-type="titlebox" class="n-widget w-titlebox t-titlebox-a04 t-titlebox-a04-ff9900">
              <div id="w-titlebox-aach-title" class="w-titlebox-title t-titlebox-a04-title t-titlebox-a04-ff9900-title">
                <i class="middle"></i>
                <h2><i></i>FeedBacks</h2>
              </div>
              <div id="w-area-aaci" data-type="area" class="p-155234 n-widget w-area w-titlebox-content t-titlebox-a04-content t-titlebox-a04-ff9900-content">
                <div id="w-lister-aacj" data-type="lister" class="n-widget w-lister t-lister-05">
      <h1>Listing articles</h1>
      <%= link_to 'My Blog', controller: 'articles' %>
      
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>

    <div id="w-area-aack" data-type="area" class="p-155234 n-widget w-area">
      <div id="w-columnbox-aacl" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:50%;">
          <div id="w-area-aacm" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aacn" data-type="text" class="n-widget w-text">
              ABOUT US
            </div>
            <div id="w-text-aaco" data-type="text" class="n-widget w-text">
              about us<div>job opportunies</div>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:50%;">
          <div id="w-area-aacp" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aacq" data-type="text" class="n-widget w-text">
              CONTACT US
            </div>
            <div id="w-text-aacr" data-type="text" class="n-widget w-text">
              Phone: (516) 368-4586<div>Email: JBAnalytical@gmail.com</div><div>Location: Syosset, New York</div
            </div>
          </div>
          </div>
      </div>
    </div>






  <!--custom footer start-->
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fce299e0fd4094e4d5efce40bab839811' type='text/javascript'%3E%3C/script%3E"));</script>
<!--custom footer end-->
  </body>
</html>
